body {
  color: #40514e;
  margin: 0;
  text-align: center;
  background-color: #c3c4c4;
  padding-bottom: 10px;
}
.top-container {
  background-color: #eaf6f6;
  margin: 10px 10px auto 10px;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 20px;
  margin: auto 10px 10px 10px;
}
h1 {
  margin-top: 50px;
  font-family: comforter;
  font-size: 5.625rem;
  color: #66bfbf;
}
h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  color: #11999e;
}

.bottom-cloud {
  position: absolute;
}
.top-cloud {
  position: relative;
  margin-left: 400px;
  margin-top: 100px;
}
.footer-link {
  color: #11999e;
  margin: 10px;
  text-decoration: none;
}
.footer-link:hover {
  background-color: white;
  color: blue;
}
.btn {
  color: whitesmoke;
  text-decoration: none;
  background-color: #66bfbf;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: #66bfbf;
}
.btn:hover {
  background-color: burlywood;
  color: red;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.dotted {
  width: 4%;
  border: 10px dotted #40514e;
  border-bottom-width: 0;
  border-color: #eaf6f6;
}
#name {
  color: #eaf6f6;
}
.contact-me {
  margin-bottom: 50px;
}
